@import './bootstrap';
@import '../node_modules/bootstrap-icons/font/bootstrap-icons.scss';

html {
    scroll-padding-top: 100px;
}

@include media-breakpoint-up(lg) {
    .w-md-75 {
        width: 75% !important;
    }

    .jumbotron {
        h1 {
            font-size: 4rem !important;
        }
    }
}

.nav-link.active,
.link-underline-dark {
    text-decoration: underline;
}

.decoration-break {
    box-decoration-break: clone;
}
