@import './bootstrap';
@import '../node_modules/bootstrap-icons/font/bootstrap-icons.scss';

html {
    scroll-padding-top: 100px;
}

@include media-breakpoint-up(lg) {
    .w-md-75 {
        width: 75% !important;
    }

    .jumbotron {
        h1 {
            font-size: 4rem !important;
        }
    }
}

.nav-link.active,
.link-underline-dark {
    text-decoration: underline;
}

.decoration-break {
    box-decoration-break: clone;
}

// MailChimp newsletter overrides
#mc_embed_shell {

    #mc_embed_signup {

        div.mce_inline_error {
            padding: 0;
            font-weight: normal;
            background-color: transparent !important;
            @extend .invalid-feedback;
        }

        input.mce_inline_error {
            @extend .is-invalid;
        }

    }
}
