@import './bootstrap';
@import '../node_modules/bootstrap-icons/font/bootstrap-icons.scss';


html {
    scroll-padding-top: 100px;
}

.section-header {
    display: inline-block;
    background-color: #161616;
    color: $white;
    padding-inline: 0.25em;
    text-transform: uppercase;
}


@include media-breakpoint-up(lg) {
    .w-md-75 {
        width: 75% !important;
    }
}



.jumbotron {
    h1 {

        @include media-breakpoint-up(lg) {
            font-size: 4rem !important;
        }

        top: 50%;

        display: inline;
        background: #161616;
        color: #fff;
        padding-inline: 0.25em;
        text-transform: uppercase;
    }
}


.grayscale {
    filter: grayscale(1);
}
