---
import Layout from '@/layouts/Layout.astro';

import Mission from '@/components/Mission.astro';
import Contact from '@/components/Contact.astro';
import Donate from '@/components/Donate.astro';
import Jumbotron from '@/components/Jumbotron.astro';

import config from '@/config';
import imgTannerJam from '@/assets/photos/tanner-jam-bw.jpg';

---
<Layout>

	<div
		data-bs-spy="scroll"
		data-bs-target="#navbar"
		data-bs-root-margin="0px 0px -40%"
		data-bs-smooth-scroll="true"
	>
		<Jumbotron
			image={imgTannerJam}
			title={config.tagline}
		/>

		<Mission />

		<Donate />

		<Contact />

	</div>

</Layout>

<script>
import 'bootstrap/js/dist/scrollspy';
</script>