---
import Section from '@/components/Section.astro';
import SocialIcons from '@/components/SocialIcons.astro';
import Newsletter from '@/components/Newsletter.astro';
import HighlightHeader from '@/components/HighlightHeader.astro';

import config from '@/config';
---
<Section id="contact">

    <div class="w-md-75 row mx-auto">

        <div class="col-md-6">

            <HighlightHeader class="mb-md-4">
                Contact
            </HighlightHeader>

            <p class="mb-4 mb-md-5">
                All inquries can be sent to <a href={`mailto:${config.contactEmail}`} class="link-underline-dark link-offset-2">{config.contactEmail}</a>.
            </p>

        </div>

        <div class="col-md-6">

            <SocialIcons />

            <Newsletter />

        </div>

    </div>

</Section>
