---
import Section from '@/components/Section.astro';
import SocialIcons from '@/components/SocialIcons.astro';
import Newsletter from '@/components/Newsletter.astro';
---
<Section id="contact">

    <div class="w-md-75 row mx-auto">

        <div class="col-md-6">

            <h1 class="section-header mb-md-4">
                Contact
            </h1>

            <p class="mb-4 mb-md-5">
                All inquries can be sent to <span class="user-select-all">minirampfoundation@gmail.com</span>.
            </p>

        </div>

        <div class="col-md-6">

            <SocialIcons />

            <Newsletter />

        </div>

    </div>

</Section>
