---
import Section from '@/components/Section.astro';
import HighlightHeader from '@/components/HighlightHeader.astro';
---
<Section id="donate">

    <div class="w-md-75 m-auto text-md-center">

        <div class="">
            <HighlightHeader class="mb-md-4">
                Donate
            </HighlightHeader>
        </div>

        <!-- <p class="mb-md-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p> -->

        <div class="text-center">
            <script
                is:inline
                async
                src="https://donorbox.org/widget.js"
                paypalExpress="false"
            />
            <iframe
                src="https://donorbox.org/embed/mini-ramp-foundation-fund?default_interval=o"
                name="donorbox"
                allowpaymentrequest="allowpaymentrequest"
                seamless="seamless"
                height="620px"
                width="100%"
                style="max-width: 425px; min-width: 250px; max-height:none!important"
                class="mx-auto"
                title="Donate form"
            />
        </div>

    </div>

</Section>
