---
type Props = {
    class?: string;
};

const { class: className } = Astro.props;
---
<h1 class:list={[`d-inline-block text-uppercase`, className]}>
    <span class="bg-black text-white px-1 px-md-2 decoration-break"><slot /><span>
</h1>

