---
import { Image } from 'astro:assets';
import Section from '@/components/Section.astro';
import HighlightHeader from '@/components/HighlightHeader.astro';

type Props = {
    image: ImageMetadata;
    title: string;
};

const { image, title } = Astro.props;
---

<Section isFluid>

    <div class="jumbotron position-relative ratio" style="--bs-aspect-ratio: 61%;">

        <div class="text-center">

            <Image
                src={image}
                alt="A group of people at a skatepark watching a skate competition"
                class="img-fluid position-absolute top-0 start-0 end-0 bottom-0"
                loading="eager"
            />

            <HighlightHeader class="fs-5 position-relative top-50">
                {title}
            </HighlightHeader>

        </div>

    </div>

</Section>
