---
import { Image } from 'astro:assets';
import Section from '@/components/Section.astro';
import HighlightHeader from '@/components/HighlightHeader.astro';

import imgRamp from '@/assets/photos/mini-ramp-girl.png';
---
<Section id="mission">

    <div class="row g-0 g-md-4 w-md-75 m-auto">

        <div class="col-md-6 text-md-end">

            <HighlightHeader class="mt-0 mt-lg-5 mb-md-4">
                Mission
            </HighlightHeader>

            <p>The Mini Ramp Foundation is dedicated to providing more public places to skate across the United States. By focusing on smaller projects such as mini ramps, we will be able to cover more ground and at a faster rate. As skateboarding continues to grow in popularity, we aim to help our public facilities grow in quality and quantity.</p>

        </div>

        <div class="col-md-6">
            <Image
                src={imgRamp}
                alt="A young girl standing on a skateboard at the top of a ramp"
                class="img-fluid"
                loading="lazy"
                widths={[456, 642, 778, 912, 1032]}
                sizes="(min-width: 1400px) 456px, (min-width: 1200px) 389px, (min-width: 780px) 312px, (min-width: 580px) 516px, calc(100vw - 24px)"
            />
        </div>

    </div>

</Section>
