<div id="mc_embed_shell">

    <div id="mc_embed_signup">

        <form
            action="https://minirampfoundation.us9.list-manage.com/subscribe/post?u=3d48e38650ec1a1919f3481c8&id=7f5981b83e&f_id=005e2ae1f0"
            method="post"
            id="mc-embedded-subscribe-form"
            name="mc-embedded-subscribe-form"
            class="validate"
            target="_blank"
        >

            <div id="mc_embed_signup_scroll">

                <label
                    for="mce-EMAIL"
                    class="form-label text-uppercase"
                >
                    Join our mailing list
                </label>

                <div class="d-flex align-items-start">

                    <div class="mc-field-group flex-grow-1 me-1 me-md-3">

                        <input
                            type="email"
                            name="EMAIL"
                            class="required email form-control form-control-md-lg"
                            id="mce-EMAIL"
                            required=""
                            value=""
                            placeholder="email@email.com"
                        />

                        <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>

                    </div>

                    <input
                        type="submit"
                        name="subscribe"
                        id="mc-embedded-subscribe"
                        class="button btn btn-dark"
                        value="Subscribe"
                    />

                </div>

                <div id="mce-responses">

                    <div
                        id="mce-error-response"
                        class="invalid-feedback fs-6"
                        style="display: none"
                    />

                    <div
                        id="mce-success-response"
                        class="valid-feedback fs-6"
                        style="display: none"
                    />

                </div>

                <div
                    aria-hidden="true"
                    style="position: absolute; left: -5000px"
                >
                    /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
                    <input
                        type="text"
                        name="b_3d48e38650ec1a1919f3481c8_7f5981b83e"
                        tabindex="-1"
                        value=""
                    />

                </div>

            </div>

        </form>

    </div>

</div>


<script
    is:inline
    type="text/javascript"
    src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"
/>
<script
    is:inline
    type="text/javascript"
>
    (() => {
        window.fnames = new Array();
        window.ftypes = new Array();
        fnames[0] = "EMAIL";
        ftypes[0] = "email";
        fnames[1] = "FNAME";
        ftypes[1] = "text";
        fnames[2] = "LNAME";
        ftypes[2] = "text";
        fnames[3] = "ADDRESS";
        ftypes[3] = "address";
        fnames[4] = "PHONE";
        ftypes[4] = "phone";
        fnames[5] = "BIRTHDAY";
        ftypes[5] = "birthday";
    })(jQuery);
    window.$mcj = jQuery.noConflict(true);
</script>
