<form>

    <div class="mb-3">

        <label for="email" class="form-label text-uppercase">
            Join our mailing list
        </label>

        <div class="d-flex">

            <input
                type="email"
                name="email"
                id="email"
                class="form-control form-control-md-lg me-1 me-md-3"
                placeholder="youremail@mail.com"
            />

            <button class="btn btn-dark" type="submit">
                Subscribe
            </button>

        </div>

    </div>

</form>
