---
import { Image } from 'astro:assets';
import iconYoutube from 'bootstrap-icons/icons/youtube.svg';
import iconInstagram from 'bootstrap-icons/icons/instagram.svg';
import iconFacebook from 'bootstrap-icons/icons/facebook.svg';
import iconTiktok from 'bootstrap-icons/icons/tiktok.svg';

const socialAccounts = [
    {
        name: 'YouTube',
        icon: iconYoutube,
        url: '',
    },
    {
        name: 'Instagram',
        icon: iconInstagram,
        url: '',
    },
    {
        name: 'Facebook',
        icon: iconFacebook,
        url: '',
    },
    {
        name: 'TikTok',
        icon: iconTiktok,
        url: '',
    },
];
---
<div class="mb-4 mb-md-5">
    <p class="text-uppercase">
        Follow us on Social Media
    </p>

    <ul class="list-inline">
        {socialAccounts.map(({ icon, url, name }) => {
            return (
                <li class="list-inline-item me-4">
                    <a href={url} aria-label={name}>
                        <Image
                            src={icon}
                            alt={`${name} logo icon`}}
                            width="40"
                            height="40"
                        />
                    </a>
                </li>
            );
        })}
    </ul>

</div>
